<div class="section-cta__wrapper">
    <div class="section-cta__content">
        <div class="section-cta__text">
            <h3 class="heading heading--tertiary">
                Get a chance to have an Amazing morning
            </h3>
            <p class="paragraph">
                We are giving you are one time opportunity to experience a
                better life with coffee.
            </p>
            <ui-button
                data-role="link"
                href="#"
                shadow-on
                on-hover="animated"
                dark-bg
            ></ui-button>
        </div>
        <div class="section-cta__img">
            <div class="img__container">
                <img class="img" src="/src/imgs/section-3.webp" alt="" />
                <span class="img__shadow"></span>
            </div>
        </div>
    </div>
</div>
