<div class="slider">
    <div
        class="slides"
        role="region"
        aria-label="slider"
        aria-live="polite"
    ></div>
    <button class="slider__btn slider__btn--left" aria-label="Previous slide">
        <svg class="slider__btn-icon" xmlns="http://www.w3.org/2000/svg">
            <path d="M8 9V16L0 8L8 0V7H16V9H8Z" fill="currentColor" />
        </svg>
    </button>
    <button class="slider__btn slider__btn--right" aria-label="Next slide">
        <svg class="slider__btn-icon" xmlns="http://www.w3.org/2000/svg">
            <path d="M8 9V16L16 8L8 0V7H0V9H8Z" fill="currentColor" />
        </svg>
    </button>
</div>
