<div class="section-about__wrapper">
    <div class="section-about__content">
        <div class="section-about__text">
            <h2 class="heading heading--secondary">Discover the best coffee</h2>
            <p class="paragraph">
                Bean Scene is a coffee shop that provides you with quality
                coffee that helps boost your productivity and helps build your
                mood. Having a cup of coffee is good, but having a cup of real
                coffee is greater. There is no doubt that you will enjoy this
                coffee more than others you have ever tasted.
            </p>
            <ui-button
                label="Learn More"
                data-role="link"
                href="#"
                on-hover="animated"
                shadow-on
            ></ui-button>
        </div>
        <div class="section-about__img">
            <img class="img" src="/src/imgs/section-01.webp" alt="" />
        </div>
    </div>
</div>
