.btn.btn--link:visited,
.btn.btn--link:link {
    text-decoration: none;
}

.btn {
    cursor: pointer;
    display: inline-block;
    padding: 1.3rem 2.6rem;
    border: 2px solid transparent;
    border-radius: 2.4rem;
    font-family: inherit;
    font-weight: 700;
    color: var(--color-grey-dark);
    background-color: var(--color-secondary);
    transition: all 0.3s cubic-bezier(0.56, -0.3, 0.22, 0.85);
}

.btn:hover {
    color: var(--color-secondary-light-02);
    background-color: var(--color-primary-dark);
}

.btn:focus {
    outline: none;
}

.btn.hover-animated:hover {
    transform: scale(1.05) translateY(-0.3rem);
}

.btn.hover-animated:active {
    transform: scale(0.98) translateY(0);
}

.btn.outline {
    border: 2px solid var(--color-secondary);
    color: var(--color-primary-light-02);
    background-color: var(--color-white);
}

.btn.outline:hover {
    background-color: var(--color-secondary-light-02);
}

.btn.shadow-on {
    box-shadow: 0 0.6rem 1.2rem var(--color-secondary-rgba-22);
}

.btn.shadow-on:hover {
    box-shadow: 0 0.6rem 1.2rem var(--color-primary-dark-rgba-22);
}

.btn.shadow-on:active {
    box-shadow: 0 0.3rem 0.6rem var(--color-primary-dark-rgba-22);
}

.btn.active {
    color: var(--color-primary);
    /* pointer-events: none; */
}

.btn.active:hover {
    color: var(--color-primary);
    background-color: var(--color-secondary);
}

@media (max-width: 64em) {
    .btn {
        padding: 0.8rem 2rem;
        font-size: 1.4rem !important;
    }
}
