.btn.btn--link:visited,
.btn.btn--link:link {
    text-decoration: none;
}

.btn {
    cursor: pointer;
    display: inline-block;
    padding: 1.3rem 2.6rem;
    border: 2px solid transparent;
    border-radius: 2.4rem;
    font-family: inherit;
    font-weight: 700;
    line-height: 1;
    color: var(--color-grey-dark);
    background-color: var(--color-secondary);
    transition: var(--transition-default);
}

.btn:hover,
.btn:focus-visible {
    color: var(--color-secondary-light-02);
    background-color: var(--color-primary-dark-01);
}

.btn.hover-animated:hover,
.btn.hover-animated:focus-visible {
    transform: scale(1.05) translateY(-0.3rem);
}

.btn.hover-animated:active {
    transform: scale(0.98) translateY(0);
}

.btn.outline {
    border: 2px solid var(--color-secondary);
    color: var(--color-primary-light-02);
    background-color: var(--color-white);
}

.btn.outline:hover,
.btn.outline:focus-visible {
    background-color: var(--color-secondary-light-02);
}

.btn.shadow-on {
    box-shadow: 0 0.6rem 1.2rem var(--color-secondary-rgba-22);
}

.btn.shadow-on:hover,
.btn.shadow-on:focus-visible {
    box-shadow: 0 0.6rem 1.2rem var(--color-primary-dark-rgba-22);
}

.btn.shadow-on:active {
    box-shadow: 0 0.3rem 0.6rem var(--color-primary-dark-rgba-22);
}

.btn.active {
    color: var(--color-primary);
}

.btn.active:hover,
.btn.active:focus-visible {
    color: var(--color-primary);
    background-color: var(--color-secondary);
}

.btn.dark-bg:hover,
.btn.dark-bg:focus-visible {
    color: var(--color-primary);
    background-color: var(--color-secondary-light-02);
    box-shadow: 0 0.3rem 0.6rem var(--color-secondary-rgba-42);
}

:host-context(.header.scroll) .btn:hover,
:host-context(.header.scroll) .btn:focus-visible {
    color: var(--color-secondary-light-02);
    background-color: var(--color-primary-dark-01);
    box-shadow: 0 0.6rem 1.2rem var(--color-primary-dark-rgba-22);
}

:host-context(.header:not(.transparent)) .btn:hover,
:host-context(.header:not(.transparent)) .btn:focus-visible {
    color: var(--color-secondary-light-02);
    background-color: var(--color-primary-dark-01);
    box-shadow: 0 0.6rem 1.2rem var(--color-primary-dark-rgba-22);
}

@media (max-width: 48em) {
    :host-context(.header.scroll) .btn:hover,
    :host-context(.header.scroll) .btn:focus-visible {
        color: var(--color-primary);
        background-color: var(--color-secondary-light-02);
        box-shadow: 0 0.3rem 0.6rem var(--color-secondary-rgba-42);
    }

    :host-context(.header:not(.transparent)) .btn:hover,
    :host-context(.header:not(.transparent)) .btn:focus-visible {
        color: var(--color-primary);
        background-color: var(--color-secondary-light-02);
        box-shadow: 0 0.3rem 0.6rem var(--color-secondary-rgba-42);
    }
}
