.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding-left: var(--site-h-padding);
    padding-right: var(--site-h-padding);
    transition: var(--transition-default);
    z-index: 9999;
}

.header__inner-container {
    max-width: var(--site-max-width);
    margin: 0 auto;
    display: flex;
    align-items: center;
    padding: 2.1rem 0;
}

.header.scroll {
    background-color: var(--color-white);
    box-shadow: 0 0.3rem 0.6rem var(--color-primary-dark-rgba-22);
}

.header.scroll .logo,
.header:not(.transparent) .logo {
    color: var(--color-primary);
}

.header.scroll .logo:hover,
.header.scroll .logo:focus-visible,
.header:not(.transparent) .logo:hover,
.header:not(.transparent) .logo:focus-visible {
    color: var(--color-secondary);
}

.header__logo {
    width: 50%;
}

.logo:visited,
.logo:link {
    text-decoration: none;
    color: var(--color-white);
}

.logo {
    display: inline-block;
    font-family: "Clicker Script", serif;
    font-weight: 400;
    font-size: 3.5rem;
    transition: var(--transition-default);
}

.logo:hover,
.logo:focus-visible {
    color: var(--color-secondary);
    transform: rotate(-8deg) scale(1.07);
}
