<div class="section-subscription__wrapper">
    <div class="section-subscription__content">
        <div class="section-subscription__form">
            <h3 class="heading heading--tertiary">Subscribe to get offers!</h3>
            <p class="paragraph">
                Don't miss out on our latest news, updates, tips and special
                offers
            </p>
            <ui-subscription-form></ui-subscription-form>
        </div>
        <div class="section-subscription__img">
            <img class="img" src="/src/imgs/section-5-01.webp" alt="" />
        </div>
    </div>
</div>
