.spinner {
    opacity: 1;
    visibility: visible;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 6px solid var(--color-secondary-light-01);
    border-top: 6px solid var(--color-secondary-dark);
    border-radius: 50%;
    width: 40px;
    height: 40px;
    animation: spin 0.5s linear infinite;
    transition: opacity 0.3s ease-in-out, visibility 0s linear 0.3s;
    z-index: 999999;
}

.spinner.spinner-hidden {
    opacity: 0;
    visibility: hidden;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
