<div class="section-hero__wrapper">
    <div class="section-hero__content">
        <h1 class="heading heading--primary">
            <span class="heading--tag">We’ve got your morning covered with</span
            >coffee
        </h1>
        <p class="paragraph">
            It is best to start your day with a cup of coffee. Discover the best
            flavours coffee you will ever have. We provide the best for our
            customers.
        </p>
        <ui-button
            data-role="link"
            href="#"
            on-hover="animated"
            shadow-on
            dark-bg
        ></ui-button>
    </div>
</div>
