<div class="subscription">
    <form action="#" class="subscription__form">
        <label
            class="visually-hidden"
            id="subscription-label"
            for="subscription-input"
            >Enter your email:</label
        >
        <input
            class="subscription__input"
            type="email"
            id="subscription-input"
            name="subscription-input"
            placeholder="Enter your email"
        />
        <button class="subscription__btn" type="button">Subscribe</button>
    </form>
    <p class="subscription__message hidden"></p>
</div>
