<footer class="footer-wrapper">
    <div class="footer">
        <div class="footer__content">
            <a href="#" class="logo">Beam Scene</a>
            <p class="text">
                Lorem Ipsum is simply dummy text of the printing and typesetting
                industry. Lorem Ipsum has been the industry's standard dummy
                text ever since the 1500s, when an unknown printer took a galley
                of type and scrambled it to make a type specimen book.
            </p>
            <div class="footer__icons">
                <a
                    class="icon"
                    href="https://facebook.com"
                    target="_blank"
                    rel="noopener noreferrer"
                    aria-label="Facebook"
                >
                    <img src="/src/imgs/icon-facebook.svg" class="img" />
                </a>
                <a
                    class="icon"
                    href="https://instagram.com"
                    target="_blank"
                    rel="noopener noreferrer"
                    aria-label="Instagram"
                >
                    <img src="/src/imgs/icon-instagram.svg" class="img" />
                </a>
                <a
                    class="icon"
                    href="https://youtube.com"
                    target="_blank"
                    rel="noopener noreferrer"
                    aria-label="YouTube"
                >
                    <img src="/src/imgs/icon-youtube.svg" class="img" />
                </a>
                <a
                    class="icon"
                    href="https://twitter.com"
                    target="_blank"
                    rel="noopener noreferrer"
                    aria-label="Twitter"
                >
                    <img src="/src/imgs/icon-twitter.svg" class="img" />
                </a>
            </div>
        </div>
        <div class="footer__content">
            <h4 class="heading heading--tertiary">About</h4>
            <ul class="footer__list">
                <li class="footer__item">
                    <a href="#" class="footer__link">Menu</a>
                </li>
                <li class="footer__item">
                    <a href="#" class="footer__link">Features</a>
                </li>
                <li class="footer__item">
                    <a href="#" class="footer__link">News & Blogs</a>
                </li>
                <li class="footer__item">
                    <a href="#" class="footer__link">Help & Supports</a>
                </li>
            </ul>
        </div>
        <div class="footer__content">
            <h4 class="heading heading--tertiary">Company</h4>
            <ul class="footer__list">
                <li class="footer__item">
                    <a href="#" class="footer__link">How we work</a>
                </li>
                <li class="footer__item">
                    <a href="#" class="footer__link">Terms of service</a>
                </li>
                <li class="footer__item">
                    <a href="#" class="footer__link">Pricing</a>
                </li>
                <li class="footer__item">
                    <a href="#" class="footer__link">FAQ</a>
                </li>
            </ul>
        </div>
        <div class="footer__content">
            <h4 class="heading heading--tertiary">Contact us</h4>
            <p class="text">
                Akshya Nagar 1st Block 1st Cross, Rammurthy nagar,
                Bangalore-560016
            </p>
            <a href="tel:#" class="footer__link">+1 202-918-2132</a>
            <a href="mailto:#" class="footer__link">beanscene@mail.com</a>
            <a href="/" class="footer__link">www.beanscene.com</a>
        </div>
    </div>
</footer>
