.menu-card {
    cursor: pointer;
    height: 100%;
    background-color: var(--color-secondary-light-01);
    display: flex;
    flex-direction: column;
    flex: 1 1 0;
    transition: var(--transition-default);
}

.menu-card:hover,
:host(:focus) {
    transform: translateY(-0.5rem) scale(1.05);
    box-shadow: 0 0.6rem 1.2rem var(--color-primary-dark-rgba-42);
}

.menu-card:active {
    transform: translateY(0) scale(0.98);
    box-shadow: 0 0.3rem 0.6rem var(--color-primary-dark-rgba-42);
}

.menu-card__img {
    width: 100%;
    height: 22.2rem;
    background-size: cover;
    background-position: center;
}

.menu-card__content {
    flex-grow: 1;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1.5rem 1.5rem 3rem;
    text-align: center;
    border: 1px solid var(--color-secondary-rgba-42);
}

.menu-card__name {
    font-weight: 700;
    font-size: 2.2rem;
    color: var(--color-primary);
}

.menu-card__ingredients {
    font-size: 1.6rem;
    color: var(--color-grey-dark);
}

.menu-card__price {
    font-size: 1.8rem;
    font-weight: 700;
    color: var(--color-primary);
}

p:not(:last-child) {
    margin-bottom: 1rem;
}
