<style>
    ui-button {
        position: absolute;
        bottom: 0;
        left: 50%;
        width: 100%;
        transform: translate(-50%, 50%);
        text-align: center;
    }
</style>
<div class="menu-card">
    <div class="menu-card__img" role="img"></div>
    <div class="menu-card__content">
        <p class="menu-card__name"></p>
        <p class="menu-card__ingredients"></p>
        <p class="menu-card__price"></p>
        <ui-button data-role="link"></ui-button>
    </div>
</div>
