<div class="menu-table">
    <div class="menu-table__filter-tags"></div>
    <div class="menu-table__scroll-wrapper">
        <table class="menu-table__table">
            <thead class="menu-table__head">
                <tr class="menu-table__row">
                    <th class="menu-table__cell">Item</th>
                    <th class="menu-table__cell">Type</th>
                    <th class="menu-table__cell">Price</th>
                </tr>
            </thead>
            <tbody class="menu-table__body"></tbody>
        </table>
    </div>
</div>
